In [1]:
import io
from itertools import count
import pymysql
import getpass
import pandas as pd

import networkx as nx
from networkx import Graph as NXGraph
from networkx.drawing.nx_agraph import graphviz_layout

import matplotlib.pyplot as plt
import matplotlib.colors as mcolors
import collections

from IPython.display import display, Image

from ipywidgets import interact, FloatSlider, IntSlider, interactive, HBox, Checkbox

In [12]:
conn = pymysql.connect(host = 'localhost',
                       user = 'root', 
                       passwd = 'qwerty123', 
                       database = 'usa_flights') # só muda aqui para flights / usa_flights

cur = conn.cursor()

# Operações

Nó azul são companhias e nós verdes são aeroportos. Uma aresta significa que uma companhia opera num aeroporto.

In [3]:
@interact(DELTA = True, 
          UNITED = True,
          AMERICAN = True,
          WELLS = True,
          SOUTHWEST = True,
          SKY = True,
          WILMIGAN = True,
          BANK = True,
          JETBLUE = True,
          ALASKA = True)
def graph(DELTA, UNITED, AMERICAN, WELLS, SOUTHWEST, SKY, WILMIGAN, BANK, JETBLUE, ALASKA):
    delta = "Companies.name = 'DELTA AIR LINES INC'"
    united = "Companies.name = 'UNITED AIRLINES INC'"
    american = "Companies.name = 'AMERICAN AIRLINES INC'"
    wells = "Companies.name = 'WELLS FARGO BANK NA TRUSTEE'"
    southwest = "Companies.name = 'SOUTHWEST AIRLINES INC'"
    sky = "Companies.name = 'SKY WEST AIRLINES INC'"
    wilmigan = "Companies.name = 'WILMINGTON TRUST CO TRUSTEE'"
    bank = "Companies.name = 'BANK OF UTAH TRUSTEE'"
    jetblue = "Companies.name = 'JETBLUE AIRWAYS CORPORATION'"
    alaska = "Companies.name = 'ALASKA AIRLINES INC'"
    
    include = []
    if DELTA:
        include.append(delta)
    if UNITED:
        include.append(united)
    if AMERICAN:
        include.append(american)
    if WELLS:
        include.append(wells)
    if SOUTHWEST:
        include.append(southwest)
    if SKY:
        include.append(sky)
    if WILMIGAN:
        include.append(wilmigan)
    if BANK:
        include.append(bank)
    if JETBLUE:
        include.append(jetblue)
    if ALASKA:
        include.append(alaska)
    
    if len(include) == 0:
        include = [delta, united, american, wells, southwest, sky, wilmigan, bank, jetblue, alaska]
    
    where = ""
    
    for k in include:
        if k == include[-1]:
            where += k
        else:
            where += k
            where += " OR "
    
    query = '''
    SELECT Companies.name AS Companny,
           CONCAT(Routes.Departure_Airport_id,'-', Routes.Arrival_Airport_id) AS Route,
           COUNT(Aircrafts.N_Number) AS Flights
    FROM Flights
    INNER JOIN Aircrafts ON Aircrafts.n_number = Flights.Aircrafts_id
    INNER JOIN Routes ON Flights.Route_id = Routes.id_route
    INNER JOIN Companies ON Companies.id_company = Aircrafts.Companys_id
    WHERE {0}
    GROUP BY Companies.name, Routes.Departure_Airport_id, Routes.Arrival_Airport_id
    ORDER BY Flights DESC
    ;
    '''.format(where)
    
    conn = pymysql.connect(host = 'localhost',
                           user = 'root', 
                           passwd = 'qwerty123', 
                           database = 'usa_flights')
    
    df = pd.read_sql_query(query, conn)
    G = nx.DiGraph()
    for ind in df.index:
        if df.loc[ind, 'Flights'] >= 100:
            G.add_node(df.loc[ind, 'Companny'], color = 'blue')
            G.add_node(df.loc[ind, 'Route'], color = 'green')
            G.add_edge(df.loc[ind, 'Companny'], df.loc[ind, 'Route'],
                       color = 'red')


    fig, ax = plt.subplots(figsize=(20,20))
    pos = nx.spring_layout(G, scale=1)
    
    nx.draw_networkx(G,
                     pos = pos,
                     ax = ax,
                     node_color = [nx.get_node_attributes(G,'color')[g] for g in G.nodes()],
                     edge_color = [nx.get_edge_attributes(G,'color')[g] for g in G.edges()],)

    plt.show()

interactive(children=(Checkbox(value=True, description='DELTA'), Checkbox(value=True, description='UNITED'), C…

In [4]:
def graph(DELTA, UNITED, AMERICAN, WELLS, SOUTHWEST, SKY, WILMIGAN, BANK, JETBLUE, ALASKA):
    delta = "Companies.name = 'DELTA AIR LINES INC'"
    united = "Companies.name = 'UNITED AIRLINES INC'"
    american = "Companies.name = 'AMERICAN AIRLINES INC'"
    wells = "Companies.name = 'WELLS FARGO BANK NA TRUSTEE'"
    southwest = "Companies.name = 'SOUTHWEST AIRLINES INC'"
    sky = "Companies.name = 'SKY WEST AIRLINES INC'"
    wilmigan = "Companies.name = 'WILMINGTON TRUST CO TRUSTEE'"
    bank = "Companies.name = 'BANK OF UTAH TRUSTEE'"
    jetblue = "Companies.name = 'JETBLUE AIRWAYS CORPORATION'"
    alaska = "Companies.name = 'ALASKA AIRLINES INC'"
    
    include = []
    if DELTA:
        include.append(delta)
    if UNITED:
        include.append(united)
    if AMERICAN:
        include.append(american)
    if WELLS:
        include.append(wells)
    if SOUTHWEST:
        include.append(southwest)
    if SKY:
        include.append(sky)
    if WILMIGAN:
        include.append(wilmigan)
    if BANK:
        include.append(bank)
    if JETBLUE:
        include.append(jetblue)
    if ALASKA:
        include.append(alaska)
    
    if len(include) == 0:
        include = [delta, united, american, wells, southwest, sky, wilmigan, bank, jetblue, alaska]
    
    where = ""
    
    for k in include:
        if k == include[-1]:
            where += k
        else:
            where += k
            where += " OR "
    
    query = '''
    SELECT Companies.name AS Companny,
           CONCAT(Routes.Departure_Airport_id,'-', Routes.Arrival_Airport_id) AS Route,
           COUNT(Aircrafts.N_Number) AS Flights
    FROM Flights
    INNER JOIN Aircrafts ON Aircrafts.n_number = Flights.Aircrafts_id
    INNER JOIN Routes ON Flights.Route_id = Routes.id_route
    INNER JOIN Companies ON Companies.id_company = Aircrafts.Companys_id
    WHERE {0}
    GROUP BY Companies.name, Routes.Departure_Airport_id, Routes.Arrival_Airport_id
    ORDER BY Flights DESC
    ;
    '''.format(where)
    
    conn = pymysql.connect(host = 'localhost',
                           user = 'root', 
                           passwd = 'qwerty123', 
                           database = 'usa_flights')

    df = pd.read_sql_query(query, conn)
    G = nx.DiGraph()
    for ind in df.index:
        if df.loc[ind, 'Flights'] >= 100:
            G.add_node(df.loc[ind, 'Companny'], color = 'blue')
            G.add_node(df.loc[ind, 'Route'], color = 'green')
            G.add_edge(df.loc[ind, 'Companny'], df.loc[ind, 'Route'],
                       color = 'red')


    fig, ax = plt.subplots(figsize=(20,20))
    pos = nx.spring_layout(G, scale=1)
    
    nx.draw_networkx(G,
                     pos = pos,
                     ax = ax,
                     node_color = [nx.get_node_attributes(G,'color')[g] for g in G.nodes()],
                     edge_color = [nx.get_edge_attributes(G,'color')[g] for g in G.edges()],)

    plt.show()

DELTA = True 
UNITED = True
AMERICAN = True
WELLS = True
SOUTHWEST = True
SKY = True
WILMIGAN = True
BANK = True
JETBLUE = True
ALASKA = True

ip = interactive(graph, DELTA = DELTA, UNITED = UNITED, AMERICAN = AMERICAN, WELLS = WELLS,
                 SOUTHWEST = SOUTHWEST, SKY = SKY, WILMIGAN = WILMIGAN, BANK = BANK,
                 JETBLUE = JETBLUE, ALASKA = ALASKA)
display(HBox(ip.children[0:5]))
display(HBox(ip.children[5:-1]))
display(ip.children[-1])

HBox(children=(Checkbox(value=True, description='DELTA'), Checkbox(value=True, description='UNITED'), Checkbox…

HBox(children=(Checkbox(value=True, description='SKY'), Checkbox(value=True, description='WILMIGAN'), Checkbox…

Output()

# Rotas

Nós: Aeroportos

Arestas: existe um voo entre os aeroportos

Peso da aresta: quantidade de voos

In [5]:
def graph(qtd):
    query = '''
            SELECT A.Arrival AS Airport,
                   A.Flights + D.Flights AS Total
            FROM (SELECT Routes.Arrival_Airport_id AS Arrival,
                         COUNT(Aircrafts.N_Number) AS Flights
                  FROM Flights
                  INNER JOIN Aircrafts ON Aircrafts.n_number = Flights.Aircrafts_id
                  INNER JOIN Routes ON Flights.Route_id = Routes.id_route
                  INNER JOIN Companies ON Companies.id_company = Aircrafts.Companys_id
                  GROUP BY Routes.Arrival_Airport_id
                  ORDER BY Flights DESC) AS A
            INNER JOIN (SELECT Routes.Departure_Airport_id AS Departure,
                        COUNT(Aircrafts.N_Number) AS Flights
                        FROM Flights
                        INNER JOIN Aircrafts ON Aircrafts.n_number = Flights.Aircrafts_id
                        INNER JOIN Routes ON Flights.Route_id = Routes.id_route
                        INNER JOIN Companies ON Companies.id_company = Aircrafts.Companys_id
                        GROUP BY Routes.Departure_Airport_id
                        ORDER BY Flights DESC) AS D
            ON A.Arrival = D.Departure
            ;
            '''
    
    conn = pymysql.connect(host = 'localhost',
                           user = 'root', 
                           passwd = 'qwerty123', 
                           database = 'usa_flights')

    df = pd.read_sql_query(query, conn)
    G = nx.DiGraph()
    airports = []
    i = 0
    while i < qtd:
        airports.append(df.loc[i, 'Airport'])
        i += 1
    
    query = '''
            SELECT Routes.Arrival_Airport_id AS Arrival,
                   Routes.Departure_Airport_id AS Departure,
                   COUNT(Aircrafts.N_Number) AS Flights
            FROM Flights
            INNER JOIN Aircrafts ON Aircrafts.n_number = Flights.Aircrafts_id
            INNER JOIN Routes ON Flights.Route_id = Routes.id_route
            INNER JOIN Companies ON Companies.id_company = Aircrafts.Companys_id
            GROUP BY Routes.Arrival_Airport_id, Routes.Departure_Airport_id
            ORDER BY Flights DESC
            ;
            '''

    df = pd.read_sql_query(query, conn)
    
    for ind in df.index:
        if df.loc[ind, 'Arrival'] in airports and df.loc[ind, 'Departure'] in airports:
            G.add_node(df.loc[ind, 'Arrival'], color = 'blue')
            G.add_node(df.loc[ind, 'Departure'], color = 'blue')
            G.add_edge(df.loc[ind, 'Arrival'], df.loc[ind, 'Departure'],
                       weight = df.loc[ind, 'Flights'],
                       color = 'red')

    fig, ax = plt.subplots(figsize=(20,20))
    pos = nx.spring_layout(G, scale=1)
    
    nx.draw_networkx(G,
                     pos = pos,
                     ax = ax,
                     node_color = [nx.get_node_attributes(G,'color')[g] for g in G.nodes()],
                     edge_color = [nx.get_edge_attributes(G,'color')[g] for g in G.edges()],)

    plt.show()

qtd = IntSlider(min = 1, max = 30, value = 15, description = "Airports")
interactive(graph, qtd = qtd)

interactive(children=(IntSlider(value=15, description='Airports', max=30, min=1), Output()), _dom_classes=('wi…

# Misturando os dois anteriores...

Companhias com aeroportos em que operam, junto a rota de um aeroporto a outro.

O azul mais escuro são companhias, enquanto o mais claro representa aeroportos. Conexões em azul mais forte representam rotas, enquanto as em azul claro representam que uma companhia opera naquele aeroporto.

## Utilizando os aeroportos com maior fluxo

In [6]:
def graph(comp0, comp1, comp2, comp3, comp4, comp5, comp6, comp7, comp8, comp9, comp10, comp11, airp):
    conn = pymysql.connect(host = 'localhost',
                           user = 'root', 
                           passwd = 'qwerty123', 
                           database = 'usa_flights')
    
    # query para pegar as companhias com maior volume de voos e adicionar numa lista (companies)
    # e passar para a lista include strings da forma "Companies.name = ..." as quais serão, no
    # final, incluidas numa string where que fará as restrições da query final
    query = '''
            SELECT Companies.name AS Companny,
                   COUNT(Aircrafts.N_Number) AS Flights
            FROM Flights
            INNER JOIN Aircrafts ON Aircrafts.n_number = Flights.Aircrafts_id
            INNER JOIN Routes ON Flights.Route_id = Routes.id_route
            INNER JOIN Companies ON Companies.id_company = Aircrafts.Companys_id
            GROUP BY Companies.name
            ORDER BY Flights DESC
            ;
            '''
    df = pd.read_sql_query(query, conn)
    companies = []
    i = 0
    while i < 12:
        companies.append(df.loc[i, 'Companny'])
        i += 1
    
    include = []
    if comp0:
        include.append("Companies.name = '{}'".format(companies[0]))
    if comp1:
        include.append("Companies.name = '{}'".format(companies[1]))
    if comp2:
        include.append("Companies.name = '{}'".format(companies[2]))
    if comp3:
        include.append("Companies.name = '{}'".format(companies[3]))
    if comp4:
        include.append("Companies.name = '{}'".format(companies[4]))
    if comp5:
        include.append("Companies.name = '{}'".format(companies[5]))
    if comp6:
        include.append("Companies.name = '{}'".format(companies[6]))
    if comp7:
        include.append("Companies.name = '{}'".format(companies[7]))
    if comp8:
        include.append("Companies.name = '{}'".format(companies[8]))
    if comp9:
        include.append("Companies.name = '{}'".format(companies[9]))
    if comp10:
        include.append("Companies.name = '{}'".format(companies[10]))
    if comp11:
        include.append("Companies.name = '{}'".format(companies[11]))
    
    if len(include) == 0:
        include = ["Companies.name = '{}'".format(companies[0]),
                   "Companies.name = '{}'".format(companies[1]),
                   "Companies.name = '{}'".format(companies[2]),
                   "Companies.name = '{}'".format(companies[3]),
                   "Companies.name = '{}'".format(companies[4]),
                   "Companies.name = '{}'".format(companies[5]),
                   "Companies.name = '{}'".format(companies[6]),
                   "Companies.name = '{}'".format(companies[7]),
                   "Companies.name = '{}'".format(companies[8]),
                   "Companies.name = '{}'".format(companies[9]),
                   "Companies.name = '{}'".format(companies[10]),
                   "Companies.name = '{}'".format(companies[11])]
    
    where = ""
    for k in include:
        if k == include[-1]:
            where += k
        else:
            where += k
            where += " OR "
    
    # query para ver os aeroportos com maior volume de voo, em seguida será criado uma lista
    # com airp (variável de entrada que diz quantos aeroportos considerar) aeroportos
    query = '''
            SELECT A.Arrival AS Airport,
                   A.Flights + D.Flights AS Total
            FROM (SELECT Routes.Arrival_Airport_id AS Arrival,
                         COUNT(Aircrafts.N_Number) AS Flights
                  FROM Flights
                  INNER JOIN Aircrafts ON Aircrafts.n_number = Flights.Aircrafts_id
                  INNER JOIN Routes ON Flights.Route_id = Routes.id_route
                  INNER JOIN Companies ON Companies.id_company = Aircrafts.Companys_id
                  GROUP BY Routes.Arrival_Airport_id
                  ORDER BY Flights DESC) AS A
            INNER JOIN (SELECT Routes.Departure_Airport_id AS Departure,
                        COUNT(Aircrafts.N_Number) AS Flights
                        FROM Flights
                        INNER JOIN Aircrafts ON Aircrafts.n_number = Flights.Aircrafts_id
                        INNER JOIN Routes ON Flights.Route_id = Routes.id_route
                        INNER JOIN Companies ON Companies.id_company = Aircrafts.Companys_id
                        GROUP BY Routes.Departure_Airport_id
                        ORDER BY Flights DESC) AS D
            ON A.Arrival = D.Departure
            ;
            '''
    
    df = pd.read_sql_query(query, conn)
    airports = []
    i = 0
    while i < airp:
        airports.append(df.loc[i, 'Airport'])
        i += 1
    
    # query final
    query = '''
            SELECT Companies.name AS Companny,
                   Routes.Departure_Airport_id AS Departure,
                   Routes.Arrival_Airport_id AS Arrival,
                   COUNT(Aircrafts.N_Number) AS Flights
            FROM Flights
            INNER JOIN Aircrafts ON Aircrafts.n_number = Flights.Aircrafts_id
            INNER JOIN Routes ON Flights.Route_id = Routes.id_route
            INNER JOIN Companies ON Companies.id_company = Aircrafts.Companys_id
            WHERE {0}
            GROUP BY Companies.name, Routes.Departure_Airport_id, Routes.Arrival_Airport_id
            ORDER BY Flights DESC
            ;
            '''.format(where)
    
    # criando o grafo com apenas as companhias vistas e com os aeroportos mais movimentados
    df = pd.read_sql_query(query, conn)
    G = nx.DiGraph()
    for ind in df.index:
        if df.loc[ind, 'Arrival'] in airports and df.loc[ind, 'Departure'] in airports:
            G.add_node(df.loc[ind, 'Companny'], color = 'lightskyblue')
            G.add_node(df.loc[ind, 'Arrival'], color = 'azure')
            G.add_node(df.loc[ind, 'Departure'], color = 'azure')
            G.add_edge(df.loc[ind, 'Arrival'], df.loc[ind, 'Departure'],
                       weight = df.loc[ind, 'Flights'],
                       color = 'steelblue',
                       relation = 'tem rota para')
            if (df.loc[ind, 'Companny'], df.loc[ind, 'Arrival']) in G.edges():
                G.edges()[(df.loc[ind, 'Companny'], df.loc[ind, 'Arrival'])]['weight'] += df.loc[ind, 'Flights']
            else:
                G.add_edge(df.loc[ind, 'Companny'], df.loc[ind, 'Arrival'],
                           weight = df.loc[ind, 'Flights'],
                           color = 'turquoise',
                           relation = 'opera em')
            if (df.loc[ind, 'Companny'], df.loc[ind, 'Departure']) in G.edges():
                G.edges()[(df.loc[ind, 'Companny'], df.loc[ind, 'Departure'])]['weight'] += df.loc[ind, 'Flights']
            else:
                G.add_edge(df.loc[ind, 'Companny'], df.loc[ind, 'Departure'],
                           weight = df.loc[ind, 'Flights'],
                           color = 'turquoise',
                           relation = 'opera em')
    
    fig, ax = plt.subplots(figsize=(20,20))
    pos = nx.spring_layout(G, scale=1)
    nx.draw_networkx_edge_labels(G, 
                                 pos, 
                                 edge_labels = nx.get_edge_attributes(G,'relation'),
                                 label_pos = 0.5, 
                                 font_size = 9, 
                                 font_color = 'red', 
                                 font_family = 'sans-serif', 
                                 font_weight = 'normal', 
                                 alpha = 1.0, 
                                 bbox = None, 
                                 ax = ax, 
                                 rotate = True)
    
    nx.draw_networkx(G,
                     pos = pos,
                     ax = ax,
                     node_color = [nx.get_node_attributes(G,'color')[g] for g in G.nodes()],
                     edge_color = [nx.get_edge_attributes(G,'color')[g] for g in G.edges()],)
    
    plt.show()

# mesma query das companhias, mas para colocar de label no interact
query = '''
        SELECT Companies.name AS Companny,
               COUNT(Aircrafts.N_Number) AS Flights
        FROM Flights
        INNER JOIN Aircrafts ON Aircrafts.n_number = Flights.Aircrafts_id
        INNER JOIN Routes ON Flights.Route_id = Routes.id_route
        INNER JOIN Companies ON Companies.id_company = Aircrafts.Companys_id
        GROUP BY Companies.name
        ORDER BY Flights DESC
        ;
        '''
df = pd.read_sql_query(query, conn)
companies = []
i = 0
while i < 12:
    companies.append(df.loc[i, 'Companny'])
    i += 1    

# variáveis do interact
comp0 = Checkbox(True, description = companies[0])
comp1 = Checkbox(True, description = companies[1])
comp2 = Checkbox(True, description = companies[2])
comp3 = Checkbox(True, description = companies[3])
comp4 = Checkbox(True, description = companies[4])
comp5 = Checkbox(True, description = companies[5])
comp6 = Checkbox(False, description = companies[6])
comp7 = Checkbox(False, description = companies[7])
comp8 = Checkbox(False, description = companies[8])
comp9 = Checkbox(False, description = companies[9])
comp10 = Checkbox(False, description = companies[10])
comp11 = Checkbox(False, description = companies[11])
airp = IntSlider(min = 1, max = 30, value = 11, description = " ")

# execução do grafo
ip = interactive(graph, comp0 = comp0, comp1 = comp1, comp2 = comp2, comp3 = comp3, comp4 = comp4, comp5 = comp5,
                 comp6 = comp6, comp7 = comp7, comp8 = comp8, comp9 = comp9, comp10 = comp10, comp11 = comp11, airp = airp)
print("Escolha, dentre as 12 maiores companhias em volume de voo, as que são de interesse.")
display(HBox(ip.children[0:3]))
display(HBox(ip.children[3:6]))
display(HBox(ip.children[6:9]))
display(HBox(ip.children[9:12]))
print("Dos aeroportos mais movimentados, quantos você quer considerar?")
display(HBox(ip.children[12:-1]))
print("Para a primeira plotagem faça alguma alteração nas seleções acima.")
display(ip.children[-1])

Escolha, dentre as 12 maiores companhias em volume de voo, as que são de interesse.

HBox(children=(Checkbox(value=True, description='SOUTHWEST AIRLINES INC'), Checkbox(value=True, description='W…

HBox(children=(Checkbox(value=True, description='UNITED AIRLINES INC'), Checkbox(value=True, description='DELT…

HBox(children=(Checkbox(value=False, description='WILMINGTON TRUST CO TRUSTEE'), Checkbox(value=False, descrip…

HBox(children=(Checkbox(value=False, description='REPUBLIC AIRWAYS INC'), Checkbox(value=False, description='B…

Dos aeroportos mais movimentados, quantos você quer considerar?

HBox(children=(IntSlider(value=11, description=' ', max=30, min=1),))

Para a primeira plotagem faça alguma alteração nas seleções acima.

Output()

## Agora com aeroportos aleatórios

In [7]:
def graph(comp0, comp1, comp2, comp3, comp4, comp5, comp6, comp7, comp8, comp9, comp10, comp11, airp):
    conn = pymysql.connect(host = 'localhost',
                           user = 'root', 
                           passwd = 'qwerty123', 
                           database = 'usa_flights')
    
    # query para pegar as companhias com maior volume de voos e adicionar numa lista (companies)
    # e passar para a lista include strings da forma "Companies.name = ..." as quais serão, no
    # final, incluidas numa string where que fará as restrições da query final
    query = '''
            SELECT Companies.name AS Companny,
                   COUNT(Aircrafts.N_Number) AS Flights
            FROM Flights
            INNER JOIN Aircrafts ON Aircrafts.n_number = Flights.Aircrafts_id
            INNER JOIN Routes ON Flights.Route_id = Routes.id_route
            INNER JOIN Companies ON Companies.id_company = Aircrafts.Companys_id
            GROUP BY Companies.name
            ORDER BY Flights DESC
            ;
            '''
    df = pd.read_sql_query(query, conn)
    companies = []
    i = 0
    while i < 12:
        companies.append(df.loc[i, 'Companny'])
        i += 1
    
    include = []
    if comp0:
        include.append("Companies.name = '{}'".format(companies[0]))
    if comp1:
        include.append("Companies.name = '{}'".format(companies[1]))
    if comp2:
        include.append("Companies.name = '{}'".format(companies[2]))
    if comp3:
        include.append("Companies.name = '{}'".format(companies[3]))
    if comp4:
        include.append("Companies.name = '{}'".format(companies[4]))
    if comp5:
        include.append("Companies.name = '{}'".format(companies[5]))
    if comp6:
        include.append("Companies.name = '{}'".format(companies[6]))
    if comp7:
        include.append("Companies.name = '{}'".format(companies[7]))
    if comp8:
        include.append("Companies.name = '{}'".format(companies[8]))
    if comp9:
        include.append("Companies.name = '{}'".format(companies[9]))
    if comp10:
        include.append("Companies.name = '{}'".format(companies[10]))
    if comp11:
        include.append("Companies.name = '{}'".format(companies[11]))
    
    if len(include) == 0:
        include = ["Companies.name = '{}'".format(companies[0]),
                   "Companies.name = '{}'".format(companies[1]),
                   "Companies.name = '{}'".format(companies[2]),
                   "Companies.name = '{}'".format(companies[3]),
                   "Companies.name = '{}'".format(companies[4]),
                   "Companies.name = '{}'".format(companies[5]),
                   "Companies.name = '{}'".format(companies[6]),
                   "Companies.name = '{}'".format(companies[7]),
                   "Companies.name = '{}'".format(companies[8]),
                   "Companies.name = '{}'".format(companies[9]),
                   "Companies.name = '{}'".format(companies[10]),
                   "Companies.name = '{}'".format(companies[11])]
    
    where = ""
    for k in include:
        if k == include[-1]:
            where += k
        else:
            where += k
            where += " OR "
    
    # query para ver os aeroportos com maior volume de voo, em seguida será criado uma lista
    # com airp (variável de entrada que diz quantos aeroportos considerar) aeroportos
    query = '''
            SELECT A.Arrival AS Airport,
                   A.Flights + D.Flights AS Total
            FROM (SELECT Routes.Arrival_Airport_id AS Arrival,
                         COUNT(Aircrafts.N_Number) AS Flights
                  FROM Flights
                  INNER JOIN Aircrafts ON Aircrafts.n_number = Flights.Aircrafts_id
                  INNER JOIN Routes ON Flights.Route_id = Routes.id_route
                  INNER JOIN Companies ON Companies.id_company = Aircrafts.Companys_id
                  WHERE {0}
                  GROUP BY Routes.Arrival_Airport_id
                  ORDER BY RAND()) AS A
            INNER JOIN (SELECT Routes.Departure_Airport_id AS Departure,
                        COUNT(Aircrafts.N_Number) AS Flights
                        FROM Flights
                        INNER JOIN Aircrafts ON Aircrafts.n_number = Flights.Aircrafts_id
                        INNER JOIN Routes ON Flights.Route_id = Routes.id_route
                        INNER JOIN Companies ON Companies.id_company = Aircrafts.Companys_id
                        WHERE {0}
                        GROUP BY Routes.Departure_Airport_id
                        ORDER BY RAND()) AS D
            ON A.Arrival = D.Departure
            ;
            '''.format(where, where)
    
    df = pd.read_sql_query(query, conn)
    airports = []
    i = 0
    while i < airp:
        airports.append(df.loc[i, 'Airport'])
        i += 1
    
    # query final
    query = '''
            SELECT Companies.name AS Companny,
                   Routes.Departure_Airport_id AS Departure,
                   Routes.Arrival_Airport_id AS Arrival,
                   COUNT(Aircrafts.N_Number) AS Flights
            FROM Flights
            INNER JOIN Aircrafts ON Aircrafts.n_number = Flights.Aircrafts_id
            INNER JOIN Routes ON Flights.Route_id = Routes.id_route
            INNER JOIN Companies ON Companies.id_company = Aircrafts.Companys_id
            WHERE {0}
            GROUP BY Companies.name, Routes.Departure_Airport_id, Routes.Arrival_Airport_id
            ORDER BY Flights DESC
            ;
            '''.format(where)
    
    # criando o grafo com apenas as companhias vistas e com aeroportos aleatórios (mudam a cada plot)
    df = pd.read_sql_query(query, conn)
    G = nx.DiGraph()
    for ind in df.index:
        if df.loc[ind, 'Arrival'] in airports and df.loc[ind, 'Departure'] in airports:
            G.add_node(df.loc[ind, 'Companny'], color = 'lightskyblue')
            G.add_node(df.loc[ind, 'Arrival'], color = 'azure')
            G.add_node(df.loc[ind, 'Departure'], color = 'azure')
            G.add_edge(df.loc[ind, 'Arrival'], df.loc[ind, 'Departure'],
                       weight = df.loc[ind, 'Flights'],
                       color = 'steelblue',
                       relation = 'tem rota para')
            if (df.loc[ind, 'Companny'], df.loc[ind, 'Arrival']) in G.edges():
                G.edges()[(df.loc[ind, 'Companny'], df.loc[ind, 'Arrival'])]['weight'] += df.loc[ind, 'Flights']
            else:
                G.add_edge(df.loc[ind, 'Companny'], df.loc[ind, 'Arrival'],
                           weight = df.loc[ind, 'Flights'],
                           color = 'turquoise',
                           relation = 'opera em')
            if (df.loc[ind, 'Companny'], df.loc[ind, 'Departure']) in G.edges():
                G.edges()[(df.loc[ind, 'Companny'], df.loc[ind, 'Departure'])]['weight'] += df.loc[ind, 'Flights']
            else:
                G.add_edge(df.loc[ind, 'Companny'], df.loc[ind, 'Departure'],
                           weight = df.loc[ind, 'Flights'],
                           color = 'turquoise',
                           relation = 'opera em')
    
    fig, ax = plt.subplots(figsize=(20,20))
    pos = nx.spring_layout(G, scale=1)
    nx.draw_networkx_edge_labels(G, 
                                 pos, 
                                 edge_labels = nx.get_edge_attributes(G,'relation'),
                                 label_pos = 0.5, 
                                 font_size = 9, 
                                 font_color = 'red', 
                                 font_family = 'sans-serif', 
                                 font_weight = 'normal', 
                                 alpha = 1.0, 
                                 bbox = None, 
                                 ax = ax, 
                                 rotate = True)
    
    nx.draw_networkx(G,
                     pos = pos,
                     ax = ax,
                     node_color = [nx.get_node_attributes(G,'color')[g] for g in G.nodes()],
                     edge_color = [nx.get_edge_attributes(G,'color')[g] for g in G.edges()],)
    
    plt.show()

# mesma query das companhias, mas para colocar de label no interact
query = '''
        SELECT Companies.name AS Companny,
               COUNT(Aircrafts.N_Number) AS Flights
        FROM Flights
        INNER JOIN Aircrafts ON Aircrafts.n_number = Flights.Aircrafts_id
        INNER JOIN Routes ON Flights.Route_id = Routes.id_route
        INNER JOIN Companies ON Companies.id_company = Aircrafts.Companys_id
        GROUP BY Companies.name
        ORDER BY Flights DESC
        ;
        '''
df = pd.read_sql_query(query, conn)
companies = []
i = 0
while i < 12:
    companies.append(df.loc[i, 'Companny'])
    i += 1    

# variáveis do interact
comp0 = Checkbox(True, description = companies[0])
comp1 = Checkbox(True, description = companies[1])
comp2 = Checkbox(True, description = companies[2])
comp3 = Checkbox(True, description = companies[3])
comp4 = Checkbox(True, description = companies[4])
comp5 = Checkbox(True, description = companies[5])
comp6 = Checkbox(False, description = companies[6])
comp7 = Checkbox(False, description = companies[7])
comp8 = Checkbox(False, description = companies[8])
comp9 = Checkbox(False, description = companies[9])
comp10 = Checkbox(False, description = companies[10])
comp11 = Checkbox(False, description = companies[11])
airp = IntSlider(min = 1, max = 30, value = 11, description = " ")

# execução do grafo
ip = interactive(graph, comp0 = comp0, comp1 = comp1, comp2 = comp2, comp3 = comp3, comp4 = comp4, comp5 = comp5,
                 comp6 = comp6, comp7 = comp7, comp8 = comp8, comp9 = comp9, comp10 = comp10, comp11 = comp11, airp = airp)
print("Escolha, dentre as 12 maiores companhias em volume de voo, as que são de interesse.")
display(HBox(ip.children[0:3]))
display(HBox(ip.children[3:6]))
display(HBox(ip.children[6:9]))
display(HBox(ip.children[9:12]))
print("Quantos aeroportos você quer considerar? (São aleatórios, logo mudam a cada plot)")
display(HBox(ip.children[12:-1]))
print("Para a primeira plotagem faça alguma alteração nas seleções acima.")
display(ip.children[-1])

Escolha, dentre as 12 maiores companhias em volume de voo, as que são de interesse.

HBox(children=(Checkbox(value=True, description='SOUTHWEST AIRLINES INC'), Checkbox(value=True, description='W…

HBox(children=(Checkbox(value=True, description='UNITED AIRLINES INC'), Checkbox(value=True, description='DELT…

HBox(children=(Checkbox(value=False, description='WILMINGTON TRUST CO TRUSTEE'), Checkbox(value=False, descrip…

HBox(children=(Checkbox(value=False, description='REPUBLIC AIRWAYS INC'), Checkbox(value=False, description='B…

Quantos aeroportos você quer considerar? (São aleatórios, logo mudam a cada plot)

HBox(children=(IntSlider(value=11, description=' ', max=30, min=1),))

Para a primeira plotagem faça alguma alteração nas seleções acima.

Output()

In [8]:
# a ideia de query parece estar funcionando, ver por que não dá certo o grafo acima

query = '''
        SELECT Companies.name AS Companny,
               COUNT(Aircrafts.N_Number) AS Flights
        FROM Flights
        INNER JOIN Aircrafts ON Aircrafts.n_number = Flights.Aircrafts_id
        INNER JOIN Routes ON Flights.Route_id = Routes.id_route
        INNER JOIN Companies ON Companies.id_company = Aircrafts.Companys_id
        GROUP BY Companies.name
        ORDER BY Flights DESC
        ;
        '''
df = pd.read_sql_query(query, conn)
companies = []
i = 0
while i < 12:
    companies.append(df.loc[i, 'Companny'])
    i += 1

include = []

comp0 = True
comp1 = True
comp2 = True
comp3 = True
comp4 = True
comp5 = True
comp6 = False
comp7 = False
comp8 = False
comp9 = False
comp10 = False
comp11 = False

if comp0:
    include.append("Companies.name = '{}'".format(companies[0]))
if comp1:
    include.append("Companies.name = '{}'".format(companies[1]))
if comp2:
    include.append("Companies.name = '{}'".format(companies[2]))
if comp3:
    include.append("Companies.name = '{}'".format(companies[3]))
if comp4:
    include.append("Companies.name = '{}'".format(companies[4]))
if comp5:
    include.append("Companies.name = '{}'".format(companies[5]))
if comp6:
    include.append("Companies.name = '{}'".format(companies[6]))
if comp7:
    include.append("Companies.name = '{}'".format(companies[7]))
if comp8:
    include.append("Companies.name = '{}'".format(companies[8]))
if comp9:
    include.append("Companies.name = '{}'".format(companies[9]))
if comp10:
    include.append("Companies.name = '{}'".format(companies[10]))
if comp11:
    include.append("Companies.name = '{}'".format(companies[11]))

if len(include) == 0:
    include = ["Companies.name = '{}'".format(companies[0]),
               "Companies.name = '{}'".format(companies[1]),
               "Companies.name = '{}'".format(companies[2]),
               "Companies.name = '{}'".format(companies[3]),
               "Companies.name = '{}'".format(companies[4]),
               "Companies.name = '{}'".format(companies[5]),
               "Companies.name = '{}'".format(companies[6]),
               "Companies.name = '{}'".format(companies[7]),
               "Companies.name = '{}'".format(companies[8]),
               "Companies.name = '{}'".format(companies[9]),
               "Companies.name = '{}'".format(companies[10]),
               "Companies.name = '{}'".format(companies[11])]

where = ""
for k in include:
    if k == include[-1]:
        where += k
    else:
        where += k
        where += " OR "

# query para ver os aeroportos com maior volume de voo, em seguida será criado uma lista
# com airp (variável de entrada que diz quantos aeroportos considerar) aeroportos
query = '''
        SELECT A.Arrival AS Airport,
               A.Companny,
               A.Flights + D.Flights AS Total
        FROM (SELECT Routes.Arrival_Airport_id AS Arrival,
                     COUNT(Aircrafts.N_Number) AS Flights,
                     Companies.name AS Companny
              FROM Flights
              INNER JOIN Aircrafts ON Aircrafts.n_number = Flights.Aircrafts_id
              INNER JOIN Routes ON Flights.Route_id = Routes.id_route
              INNER JOIN Companies ON Companies.id_company = Aircrafts.Companys_id
              WHERE {0}
              GROUP BY Routes.Arrival_Airport_id
              ORDER BY RAND()) AS A
        INNER JOIN (SELECT Routes.Departure_Airport_id AS Departure,
                    COUNT(Aircrafts.N_Number) AS Flights
                    FROM Flights
                    INNER JOIN Aircrafts ON Aircrafts.n_number = Flights.Aircrafts_id
                    INNER JOIN Routes ON Flights.Route_id = Routes.id_route
                    INNER JOIN Companies ON Companies.id_company = Aircrafts.Companys_id
                    WHERE {0}
                    GROUP BY Routes.Departure_Airport_id
                    ORDER BY RAND()) AS D
        ON A.Arrival = D.Departure
        ;
        '''.format(where, where)

pd.read_sql_query(query, conn)

    Airport                     Companny  Total
0       ABI        AMERICAN AIRLINES INC    132
1       ONT        AMERICAN AIRLINES INC   1583
2       BIS          DELTA AIR LINES INC    220
3       LNK          DELTA AIR LINES INC    119
4       PHX        AMERICAN AIRLINES INC  13162
5       MIA        AMERICAN AIRLINES INC   5603
6       MLB        AMERICAN AIRLINES INC    256
7       GCK        AMERICAN AIRLINES INC     93
8       SIT  WELLS FARGO BANK NA TRUSTEE      6
9       RHI        SKY WEST AIRLINES INC     58
10      HDN        AMERICAN AIRLINES INC    230
11      JLN        SKY WEST AIRLINES INC     58
12      MOB        AMERICAN AIRLINES INC    358
13      MSN        AMERICAN AIRLINES INC   1101
14      TTN  WELLS FARGO BANK NA TRUSTEE    206
15      BMI        AMERICAN AIRLINES INC    239
16      SRQ          DELTA AIR LINES INC    334
17      EWR        AMERICAN AIRLINES INC   8650
18      SAF        SKY WEST AIRLINES INC    110
19      LSE        AMERICAN AIRLINES INC    154
20      LGA        AMERICAN AIRLINES INC   9778
21      MHT        AMERICAN AIRLINES INC    650
22      LAW        AMERICAN AIRLINES INC    144
23      ROC        AMERICAN AIRLINES INC    724
24      CKB        SKY WEST AIRLINES INC     56
25      OAJ        AMERICAN AIRLINES INC    282
26      ABE        AMERICAN AIRLINES INC    242
27      BUF        AMERICAN AIRLINES INC   1723
28      ABR          DELTA AIR LINES INC     59
29      CSG          DELTA AIR LINES INC     13
..      ...                          ...    ...
288     GUC        AMERICAN AIRLINES INC     76
289     IND        AMERICAN AIRLINES INC   2631
290     SBN          DELTA AIR LINES INC    550
291     ACV        SKY WEST AIRLINES INC    121
292     EAU        SKY WEST AIRLINES INC     62
293     CRP        AMERICAN AIRLINES INC    435
294     HNL        AMERICAN AIRLINES INC   1300
295     GJT        AMERICAN AIRLINES INC    181
296     PWM        AMERICAN AIRLINES INC    497
297     VEL        SKY WEST AIRLINES INC     50
298     TYS        AMERICAN AIRLINES INC   1206
299     JMS        SKY WEST AIRLINES INC     85
300     FAY        AMERICAN AIRLINES INC    251
301     CHO        AMERICAN AIRLINES INC    490
302     SAT        AMERICAN AIRLINES INC   3190
303     TYR        AMERICAN AIRLINES INC    113
304     MDW          DELTA AIR LINES INC   6125
305     SEA        AMERICAN AIRLINES INC   5114
306     ADQ  WELLS FARGO BANK NA TRUSTEE      4
307     KTN  WELLS FARGO BANK NA TRUSTEE     14
308     FWA        AMERICAN AIRLINES INC    563
309     HOU        AMERICAN AIRLINES INC   5143
310     CHS        AMERICAN AIRLINES INC   1196
311     EYW        AMERICAN AIRLINES INC    118
312     UIN        SKY WEST AIRLINES INC     54
313     SHV        AMERICAN AIRLINES INC    535
314     STS        SKY WEST AIRLINES INC    162
315     DLH          DELTA AIR LINES INC    173
316     ECP          DELTA AIR LINES INC    414
317     MQT          DELTA AIR LINES INC     87

[318 rows x 3 columns]

# Escolhendo quantidade de companhias e aeroportos

In [66]:
def graph(comp, airp):
    print("Plotando a(s) {} companhia(s) junto do(s) {} aeroporto(s) mais movimentados".format(comp, airp))
    conn = pymysql.connect(host = 'localhost',
                           user = 'root', 
                           passwd = 'qwerty123', 
                           database = 'usa_flights')
    
    G = nx.DiGraph()
    
    # query para pegar as companhias com maior volume de voos e adicionar numa lista (companies)
    # e passar para a lista include strings da forma "Companies.name = ..." as quais serão, no
    # final, incluidas numa string where que fará as restrições da query final
    query = '''
            SELECT Companies.name AS Companny,
                   COUNT(Aircrafts.N_Number) AS Flights
            FROM Flights
            INNER JOIN Aircrafts ON Aircrafts.n_number = Flights.Aircrafts_id
            INNER JOIN Routes ON Flights.Route_id = Routes.id_route
            INNER JOIN Companies ON Companies.id_company = Aircrafts.Companys_id
            GROUP BY Companies.name
            ORDER BY Flights DESC
            ;
            '''
    df = pd.read_sql_query(query, conn)
    include = []
    i = 0
    while i < comp:
#         G.add_node(df.loc[i, 'Companny'], color = 'lightskyblue')
        include.append("Companies.name = '{}'".format(df.loc[i, 'Companny']))
        i += 1
    
    where = ""
    for k in include:
        if k == include[-1]:
            where += k
        else:
            where += k
            where += " OR "
    
    # query para ver os aeroportos com maior volume de voo, em seguida será criado uma lista
    # com airp (variável de entrada que diz quantos aeroportos considerar) aeroportos
    query = '''
            SELECT A.Arrival AS Airport,
                   A.Flights + D.Flights AS Total
            FROM (SELECT Routes.Arrival_Airport_id AS Arrival,
                         COUNT(Aircrafts.N_Number) AS Flights
                  FROM Flights
                  INNER JOIN Aircrafts ON Aircrafts.n_number = Flights.Aircrafts_id
                  INNER JOIN Routes ON Flights.Route_id = Routes.id_route
                  INNER JOIN Companies ON Companies.id_company = Aircrafts.Companys_id
                  WHERE {0}
                  GROUP BY Routes.Arrival_Airport_id
                  ORDER BY RAND()) AS A
            INNER JOIN (SELECT Routes.Departure_Airport_id AS Departure,
                        COUNT(Aircrafts.N_Number) AS Flights
                        FROM Flights
                        INNER JOIN Aircrafts ON Aircrafts.n_number = Flights.Aircrafts_id
                        INNER JOIN Routes ON Flights.Route_id = Routes.id_route
                        INNER JOIN Companies ON Companies.id_company = Aircrafts.Companys_id
                        WHERE {0}
                        GROUP BY Routes.Departure_Airport_id
                        ORDER BY RAND()) AS D
            ON A.Arrival = D.Departure
            ORDER BY Total DESC
            ;
            '''.format(where, where)
    
    df = pd.read_sql_query(query, conn)
    airports = []
    i = 0
    while i < airp:
        airports.append(df.loc[i, 'Airport'])
        i += 1
    
    # query final
    query = '''
            SELECT Companies.name AS Companny,
                   Routes.Departure_Airport_id AS Departure,
                   Routes.Arrival_Airport_id AS Arrival,
                   COUNT(Aircrafts.N_Number) AS Flights
            FROM Flights
            INNER JOIN Aircrafts ON Aircrafts.n_number = Flights.Aircrafts_id
            INNER JOIN Routes ON Flights.Route_id = Routes.id_route
            INNER JOIN Companies ON Companies.id_company = Aircrafts.Companys_id
            WHERE {0}
            GROUP BY Companies.name, Routes.Departure_Airport_id, Routes.Arrival_Airport_id
            ORDER BY Flights DESC
            ;
            '''.format(where)
    
    # criando o grafo com apenas as companhias vistas e com aeroportos aleatórios (mudam a cada plot)
    df = pd.read_sql_query(query, conn)
    for ind in df.index:
        if df.loc[ind, 'Arrival'] in airports and df.loc[ind, 'Departure'] in airports:
            # qualquer coisa trocar a linha 28 por essa linha abaixo (ai o grafo inclui as companhias utilizadas)
            G.add_node(df.loc[ind, 'Companny'], color = 'lightskyblue')
            G.add_node(df.loc[ind, 'Arrival'], color = 'azure')
            G.add_node(df.loc[ind, 'Departure'], color = 'azure')
            G.add_edge(df.loc[ind, 'Arrival'], df.loc[ind, 'Departure'],
                       weight = df.loc[ind, 'Flights'],
                       color = 'steelblue',
                       relation = 'tem rota para')
            if (df.loc[ind, 'Companny'], df.loc[ind, 'Arrival']) in G.edges():
                G.edges()[(df.loc[ind, 'Companny'], df.loc[ind, 'Arrival'])]['weight'] += df.loc[ind, 'Flights']
            else:
                G.add_edge(df.loc[ind, 'Companny'], df.loc[ind, 'Arrival'],
                           weight = df.loc[ind, 'Flights'],
                           color = 'turquoise',
                           relation = 'opera em')
            if (df.loc[ind, 'Companny'], df.loc[ind, 'Departure']) in G.edges():
                G.edges()[(df.loc[ind, 'Companny'], df.loc[ind, 'Departure'])]['weight'] += df.loc[ind, 'Flights']
            else:
                G.add_edge(df.loc[ind, 'Companny'], df.loc[ind, 'Departure'],
                           weight = df.loc[ind, 'Flights'],
                           color = 'turquoise',
                           relation = 'opera em')
    
    fig, ax = plt.subplots(figsize=(20,20))
    pos = nx.spring_layout(G, scale=1)
    nx.draw_networkx_edge_labels(G, 
                                 pos, 
                                 edge_labels = nx.get_edge_attributes(G,'relation'),
                                 label_pos = 0.5, 
                                 font_size = 9, 
                                 font_color = 'red', 
                                 font_family = 'sans-serif', 
                                 font_weight = 'normal', 
                                 alpha = 1.0, 
                                 bbox = None, 
                                 ax = ax, 
                                 rotate = True)
    
    nx.draw_networkx(G,
                     pos = pos,
                     ax = ax,
                     node_color = [nx.get_node_attributes(G,'color')[g] for g in G.nodes()],
                     edge_color = [nx.get_edge_attributes(G,'color')[g] for g in G.edges()],)
    
    plt.show()

# variáveis do interact
comp = IntSlider(min = 1, max = 10, value = 5, description = "Companhias")
airp = IntSlider(min = 1, max = 20, value = 10, description = "Aeroportos")

# execução do grafo
ip = interactive(graph, comp = comp, airp = airp)
print("Escolha quantas companhias e quantos aeroportos plotar. Essas escolhas são feitas de acordo com o volume de voo")
display(HBox(ip.children[0:-1]))
print("Para a primeira plotagem faça alguma alteração nas seleções acima.")
display(ip.children[-1])

Escolha quantas companhias e quantos aeroportos plotar. Essas escolhas são feitas de acordo com o volume de voo

HBox(children=(IntSlider(value=5, description='Companhias', max=10, min=1), IntSlider(value=10, description='A…

Para a primeira plotagem faça alguma alteração nas seleções acima.

Output()

In [22]:
query = '''
        SELECT A.Arrival AS Airport,
               A.Flights + D.Flights AS Total
        FROM (SELECT Routes.Arrival_Airport_id AS Arrival,
                     COUNT(Aircrafts.N_Number) AS Flights
              FROM Flights
              INNER JOIN Aircrafts ON Aircrafts.n_number = Flights.Aircrafts_id
              INNER JOIN Routes ON Flights.Route_id = Routes.id_route
              INNER JOIN Companies ON Companies.id_company = Aircrafts.Companys_id
              GROUP BY Routes.Arrival_Airport_id) AS A
        INNER JOIN (SELECT Routes.Departure_Airport_id AS Departure,
                    COUNT(Aircrafts.N_Number) AS Flights
                    FROM Flights
                    INNER JOIN Aircrafts ON Aircrafts.n_number = Flights.Aircrafts_id
                    INNER JOIN Routes ON Flights.Route_id = Routes.id_route
                    INNER JOIN Companies ON Companies.id_company = Aircrafts.Companys_id
                    GROUP BY Routes.Departure_Airport_id) AS D
        ON A.Arrival = D.Departure
        ;
        '''

In [40]:
query = '''
        SELECT C.name AS Company,
               M.Name AS Manufacturer,
               COUNT(A.N_Number) AS Aircrafts
        FROM companies AS C
        INNER JOIN aircrafts AS A ON C.id_company = A.Companys_id
        INNER JOIN aircraft_models AS AM ON A.Aircraft_Models_id = AM.id_model
        INNER JOIN manufacturer AS M ON AM.Manufacturer_id = M.id_manufacturer
        GROUP BY Company, Manufacturer
        ORDER BY Aircrafts DESC
        ;
        '''

pd.read_sql_query(query, conn)

,Company,Manufacturer,Aircrafts
0,SOUTHWEST AIRLINES INC,BOEING,607
1,UNITED AIRLINES INC,BOEING,540
2,DELTA AIR LINES INC,BOEING,426
3,WELLS FARGO BANK NA TRUSTEE,BOEING,311
4,WELLS FARGO BANK NA TRUSTEE,AIRBUS,306
5,SKY WEST AIRLINES INC,BOMBARDIER INC,286
6,AMERICAN AIRLINES INC,BOEING,282
7,AMERICAN AIRLINES INC,AIRBUS,217
8,DELTA AIR LINES INC,AIRBUS,208
9,WILMINGTON TRUST CO TRUSTEE,BOEING,171
10,JETBLUE AIRWAYS CORPORATION,AIRBUS,169
11,ALASKA AIRLINES INC,BOEING,154
12,AMERICAN AIRLINES INC,BOMBARDIER INC,134
13,UNITED AIRLINES INC,AIRBUS,133
14,DELTA AIR LINES INC,BOMBARDIER INC,132
15,AMERICAN AIRLINES INC,EMBRAER,128
16,SKY WEST AIRLINES INC,EMBRAER-EMPRESA BRASILEIRA DE,127
17,WELLS FARGO BANK NA TRUSTEE,BOMBARDIER INC,122
18,REPUBLIC AIRWAYS INC,EMBRAER-EMPRESA BRASILEIRA DE,113
19,BANK OF UTAH TRUSTEE,AIRBUS,105
20,UNITED AIRLINES INC,EMBRAER,104
21,SPIRIT AIRLINES INC,AIRBUS,98
22,DELTA AIR LINES INC,MCDONNELL DOUGLAS CORPORATION,84
23,AMERICAN AIRLINES INC,EMBRAER-EMPRESA BRASILEIRA DE,73
24,SUNRISE ASSET MANAGEMENT LLC,AIRBUS,73
25,MESA AIRLINES INC,BOMBARDIER INC,67
26,WILMINGTON TRUST CO TRUSTEE,AIRBUS,58
27,UNITED AIRLINES INC,EMBRAER-EMPRESA BRASILEIRA DE,54
28,US BANK NATIONAL ASSOCIATION TRUSTEE,AIRBUS,52
29,UMB BANK NA TRUSTEE,AIRBUS,51
...,...,...,...
103,ENVOY AIR INC,EMBRAER,1
104,BANK OF UTAH TRUSTEE,EMBRAER,1
105,NATIONAL AIRCRAFT LEASING CORP,CESSNA,1
106,CLARK AVIATION LLC,CESSNA,1
107,MCCART AVIATION INC,CESSNA,1
108,BRANSCUM JEROME,CESSNA,1
109,SERVICETEC LLC,CESSNA,1
110,EDDY PETER J,CESSNA,1
111,DUGGAN HOLDINGS LLC,CESSNA,1
112,MCNEIL KENNETH S,CHRISTOPHER LORD,1
113,KEEVAIR LLC,PIPER,1
114,BALANCED INNOVATIVE TEACHING STRATEGIES INC,GRUMMAN,1
115,AERIAL PHOTOGRAPHY SOLUTIONS LLC,DJI,1
116,WARREN RANDAL W,WARREN RANDAL,1
117,DESOUZA FERDINAND E,BENHAM JOHN,1
118,PELLEGRINI AVIATION LLC,CIRRUS DESIGN CORP,1
119,SWIFT MARKETING AND PROMOTIONS LLC,CIRRUS DESIGN CORP,1
120,PUNB LLC,CIRRUS DESIGN CORP,1
121,CLYDESDALE AVIATION HOLDINGS LLC,CIRRUS DESIGN CORP,1
122,WELLS FARGO BANK NA TRUSTEE,MCDONNELL DOUGLAS AIRCRAFT CO,1
123,BOOTHEEL AG AIR SERVICES LLC,AIR TRACTOR INC,1
124,FARMAIR LLC,AIR TRACTOR INC,1
125,REABE SPRAYING SERVICE INC,AIR TRACTOR INC,1
126,ROTH AERIAL SPRAYING INC,AIR TRACTOR INC,1
127,MATTERN RODNEY M,AIR TRACTOR INC,1
128,OKLAHOMA DEPARTMENT OF CAREER & TECH EDUCATION,MCDONNELL DOUGLAS,1
129,LEWIS UNIVERSITY,MCDONNELL DOUGLAS,1
130,AEROTHRUST HOLDINGS LEASING LLC,MCDONNELL DOUGLAS,1
131,AIRCRAFT HOLDING SOLUTIONS LLC TRUSTEE,PILATUS AIRCRAFT LTD,1
132,BETTS JOHN P,BETTS JOHN P,1

In [36]:
query = '''
        SELECT *
        FROM manufacturer
        ;
        '''

pd.read_sql_query(query, conn)

    id_manufacturer                            Name
0                 1                          MOONEY
1                 2                   BIGHAM JACK L
2                 3   EMBRAER-EMPRESA BRASILEIRA DE
3                 4      QUEST AIRCRAFT COMPANY LLC
4                 5  YABORA INDUSTRIA AERONAUTICA S
5                 6         AMERICAN EUROCOPTER LLC
6                 7                        CENTRAIR
7                 8                           BYLER
8                 9                     BARD JOHN A
9                10                          SOCATA
10               11       DIAMOND AIRCRAFT IND GMBH
11               12       RAYTHEON AIRCRAFT COMPANY
12               13                          AIRBUS
13               14          ROBINSON HELICOPTER CO
14               15                BEER JOHN EDWARD
15               16                 TREMBLE JASON M
16               17                          BOEING
17               18                  BOMBARDIER INC
18               19                        CANADAIR
19               20              START & FLUG GMBH.
20               21                     EMBRAER S A
21               22           MOONEY AIRCRAFT CORP.
22               23                     BELTZ JOE M
23               24                        DASSAULT
24               25   MCDONNELL DOUGLAS CORPORATION
25               26                NAKAMURA HISASHI
26               27                         EMBRAER
27               28                          CESSNA
28               29                      AIRBUS SAS
29               30                CHRISTOPHER LORD
30               31                           PIPER
31               32                         GRUMMAN
32               33                             DJI
33               34                   WARREN RANDAL
34               35                AIRBUS INDUSTRIE
35               36                     BENHAM JOHN
36               37              CIRRUS DESIGN CORP
37               38   MCDONNELL DOUGLAS AIRCRAFT CO
38               39       GULFSTREAM AEROSPACE CORP
39               40    C SERIES AIRCRAFT LTD PTNRSP
40               41                 AIR TRACTOR INC
41               42        AIRBUS CANADA LTD PTNRSP
42               43               MCDONNELL DOUGLAS
43               44            PILATUS AIRCRAFT LTD
44               45                    BETTS JOHN P
45               46        DIAMOND AIRCRAFT IND INC

In [42]:
query = '''
        SELECT Companies.name AS Companny,
               COUNT(Aircrafts.N_Number) AS Flights
        FROM Flights
        INNER JOIN Aircrafts ON Aircrafts.n_number = Flights.Aircrafts_id
        INNER JOIN Routes ON Flights.Route_id = Routes.id_route
        INNER JOIN Companies ON Companies.id_company = Aircrafts.Companys_id
        GROUP BY Companies.name
        ORDER BY Flights DESC
        LIMIT 12
        ;
        '''
pd.read_sql_query(query, conn)

                       Companny  Flights
0        SOUTHWEST AIRLINES INC    54892
1   WELLS FARGO BANK NA TRUSTEE    46412
2         AMERICAN AIRLINES INC    44474
3           UNITED AIRLINES INC    32749
4           DELTA AIR LINES INC    29371
5         SKY WEST AIRLINES INC    29340
6   WILMINGTON TRUST CO TRUSTEE    11608
7   JETBLUE AIRWAYS CORPORATION    10466
8             MESA AIRLINES INC     9621
9          REPUBLIC AIRWAYS INC     9083
10         BANK OF UTAH TRUSTEE     7409
11          ALASKA AIRLINES INC     7393

In [61]:
query = '''
        SELECT C.Company AS Company,
               M.Name AS Manufacturer,
               COUNT(A.N_Number) AS Aircrafts
        FROM (SELECT Companies.name AS Company,
                     Companies.id_company AS ID,
                     COUNT(Aircrafts.N_Number) AS Flights
              FROM Flights
              INNER JOIN Aircrafts ON Aircrafts.n_number = Flights.Aircrafts_id
              INNER JOIN Routes ON Flights.Route_id = Routes.id_route
              INNER JOIN Companies ON Companies.id_company = Aircrafts.Companys_id
              GROUP BY Companies.name
              ORDER BY Flights DESC
              LIMIT 12) AS C
        INNER JOIN aircrafts AS A ON C.ID = A.Companys_id
        INNER JOIN aircraft_models AS AM ON A.Aircraft_Models_id = AM.id_model
        INNER JOIN manufacturer AS M ON AM.Manufacturer_id = M.id_manufacturer
        GROUP BY Company, Manufacturer
        ORDER BY Aircrafts DESC
        ;
        '''

pd.read_sql_query(query, conn)

                        Company                  Manufacturer  Aircrafts
0        SOUTHWEST AIRLINES INC                        BOEING        607
1           UNITED AIRLINES INC                        BOEING        540
2           DELTA AIR LINES INC                        BOEING        426
3   WELLS FARGO BANK NA TRUSTEE                        BOEING        311
4   WELLS FARGO BANK NA TRUSTEE                        AIRBUS        306
5         SKY WEST AIRLINES INC                BOMBARDIER INC        286
6         AMERICAN AIRLINES INC                        BOEING        282
7         AMERICAN AIRLINES INC                        AIRBUS        217
8           DELTA AIR LINES INC                        AIRBUS        208
9         AMERICAN AIRLINES INC                       EMBRAER        201
10          UNITED AIRLINES INC                       EMBRAER        183
11  WILMINGTON TRUST CO TRUSTEE                        BOEING        171
12  JETBLUE AIRWAYS CORPORATION                        AIRBUS        169
13         REPUBLIC AIRWAYS INC                       EMBRAER        157
14        SKY WEST AIRLINES INC                       EMBRAER        156
15          ALASKA AIRLINES INC                        BOEING        154
16        AMERICAN AIRLINES INC                BOMBARDIER INC        134
17          UNITED AIRLINES INC                        AIRBUS        133
18          DELTA AIR LINES INC                BOMBARDIER INC        132
19  WELLS FARGO BANK NA TRUSTEE                BOMBARDIER INC        122
20         BANK OF UTAH TRUSTEE                        AIRBUS        105
21          DELTA AIR LINES INC             MCDONNELL DOUGLAS         84
22            MESA AIRLINES INC                BOMBARDIER INC         67
23  WILMINGTON TRUST CO TRUSTEE                        AIRBUS         58
24         BANK OF UTAH TRUSTEE                        BOEING         40
25  WELLS FARGO BANK NA TRUSTEE                       EMBRAER         36
26         BANK OF UTAH TRUSTEE                BOMBARDIER INC         34
27  JETBLUE AIRWAYS CORPORATION                       EMBRAER         30
28  WELLS FARGO BANK NA TRUSTEE             MCDONNELL DOUGLAS         27
29          DELTA AIR LINES INC                       EMBRAER         26
30         BANK OF UTAH TRUSTEE  C SERIES AIRCRAFT LTD PTNRSP         24
31            MESA AIRLINES INC                       EMBRAER         18
32          ALASKA AIRLINES INC                        AIRBUS         10
33          DELTA AIR LINES INC  C SERIES AIRCRAFT LTD PTNRSP          6
34         BANK OF UTAH TRUSTEE     GULFSTREAM AEROSPACE CORP          2
35  WILMINGTON TRUST CO TRUSTEE                BOMBARDIER INC          1
36         BANK OF UTAH TRUSTEE                       EMBRAER          1

In [58]:
query = '''
        UPDATE manufacturer
        SET Name = 'EMBRAER'
        WHERE Name = 'EMBRAER-EMPRESA BRASILEIRA DE' OR Name = 'EMBRAER S A' OR Name = 'EMBRAER-EMPRESA BRASILEIRA DE'
        ;
        '''

cur.execute(query)



query = '''
        UPDATE manufacturer
        SET Name = 'MCDONNELL DOUGLAS'
        WHERE Name = 'MCDONNELL DOUGLAS CORPORATION' OR Name = 'MCDONNELL DOUGLAS AIRCRAFT CO'
        ;
        '''

cur.execute(query)



query = '''
        SELECT *
        FROM manufacturer
        ;
        '''

pd.read_sql_query(query, conn)

    id_manufacturer                            Name
0                 1                          MOONEY
1                 2                   BIGHAM JACK L
2                 3                         EMBRAER
3                 4      QUEST AIRCRAFT COMPANY LLC
4                 5  YABORA INDUSTRIA AERONAUTICA S
5                 6         AMERICAN EUROCOPTER LLC
6                 7                        CENTRAIR
7                 8                           BYLER
8                 9                     BARD JOHN A
9                10                          SOCATA
10               11       DIAMOND AIRCRAFT IND GMBH
11               12       RAYTHEON AIRCRAFT COMPANY
12               13                          AIRBUS
13               14          ROBINSON HELICOPTER CO
14               15                BEER JOHN EDWARD
15               16                 TREMBLE JASON M
16               17                          BOEING
17               18                  BOMBARDIER INC
18               19                        CANADAIR
19               20              START & FLUG GMBH.
20               21                         EMBRAER
21               22           MOONEY AIRCRAFT CORP.
22               23                     BELTZ JOE M
23               24                        DASSAULT
24               25               MCDONNELL DOUGLAS
25               26                NAKAMURA HISASHI
26               27                         EMBRAER
27               28                          CESSNA
28               29                      AIRBUS SAS
29               30                CHRISTOPHER LORD
30               31                           PIPER
31               32                         GRUMMAN
32               33                             DJI
33               34                   WARREN RANDAL
34               35                AIRBUS INDUSTRIE
35               36                     BENHAM JOHN
36               37              CIRRUS DESIGN CORP
37               38               MCDONNELL DOUGLAS
38               39       GULFSTREAM AEROSPACE CORP
39               40    C SERIES AIRCRAFT LTD PTNRSP
40               41                 AIR TRACTOR INC
41               42        AIRBUS CANADA LTD PTNRSP
42               43               MCDONNELL DOUGLAS
43               44            PILATUS AIRCRAFT LTD
44               45                    BETTS JOHN P
45               46        DIAMOND AIRCRAFT IND INC

In [65]:
limite = 12

query = '''
        SELECT C.Company AS Company,
               M.Name AS Manufacturer,
               COUNT(A.N_Number) AS Aircrafts
        FROM (SELECT Companies.name AS Company,
                     Companies.id_company AS ID,
                     COUNT(Aircrafts.N_Number) AS Flights
              FROM Flights
              INNER JOIN Aircrafts ON Aircrafts.n_number = Flights.Aircrafts_id
              INNER JOIN Routes ON Flights.Route_id = Routes.id_route
              INNER JOIN Companies ON Companies.id_company = Aircrafts.Companys_id
              GROUP BY Companies.name
              ORDER BY Flights DESC
              LIMIT {}) AS C
        INNER JOIN aircrafts AS A ON C.ID = A.Companys_id
        INNER JOIN aircraft_models AS AM ON A.Aircraft_Models_id = AM.id_model
        INNER JOIN manufacturer AS M ON AM.Manufacturer_id = M.id_manufacturer
        GROUP BY Company, Manufacturer
        ORDER BY Aircrafts DESC
        ;
        '''.format(limite)

pd.read_sql_query(query, conn)

                        Company                  Manufacturer  Aircrafts
0        SOUTHWEST AIRLINES INC                        BOEING        607
1           UNITED AIRLINES INC                        BOEING        540
2           DELTA AIR LINES INC                        BOEING        426
3   WELLS FARGO BANK NA TRUSTEE                        BOEING        311
4   WELLS FARGO BANK NA TRUSTEE                        AIRBUS        306
5         SKY WEST AIRLINES INC                BOMBARDIER INC        286
6         AMERICAN AIRLINES INC                        BOEING        282
7         AMERICAN AIRLINES INC                        AIRBUS        217
8           DELTA AIR LINES INC                        AIRBUS        208
9         AMERICAN AIRLINES INC                       EMBRAER        201
10          UNITED AIRLINES INC                       EMBRAER        183
11  WILMINGTON TRUST CO TRUSTEE                        BOEING        171
12  JETBLUE AIRWAYS CORPORATION                        AIRBUS        169
13         REPUBLIC AIRWAYS INC                       EMBRAER        157
14        SKY WEST AIRLINES INC                       EMBRAER        156
15          ALASKA AIRLINES INC                        BOEING        154
16        AMERICAN AIRLINES INC                BOMBARDIER INC        134
17          UNITED AIRLINES INC                        AIRBUS        133
18          DELTA AIR LINES INC                BOMBARDIER INC        132
19  WELLS FARGO BANK NA TRUSTEE                BOMBARDIER INC        122
20         BANK OF UTAH TRUSTEE                        AIRBUS        105
21          DELTA AIR LINES INC             MCDONNELL DOUGLAS         84
22            MESA AIRLINES INC                BOMBARDIER INC         67
23  WILMINGTON TRUST CO TRUSTEE                        AIRBUS         58
24         BANK OF UTAH TRUSTEE                        BOEING         40
25  WELLS FARGO BANK NA TRUSTEE                       EMBRAER         36
26         BANK OF UTAH TRUSTEE                BOMBARDIER INC         34
27  JETBLUE AIRWAYS CORPORATION                       EMBRAER         30
28  WELLS FARGO BANK NA TRUSTEE             MCDONNELL DOUGLAS         27
29          DELTA AIR LINES INC                       EMBRAER         26
30         BANK OF UTAH TRUSTEE  C SERIES AIRCRAFT LTD PTNRSP         24
31            MESA AIRLINES INC                       EMBRAER         18
32          ALASKA AIRLINES INC                        AIRBUS         10
33          DELTA AIR LINES INC  C SERIES AIRCRAFT LTD PTNRSP          6
34         BANK OF UTAH TRUSTEE     GULFSTREAM AEROSPACE CORP          2
35  WILMINGTON TRUST CO TRUSTEE                BOMBARDIER INC          1
36         BANK OF UTAH TRUSTEE                       EMBRAER          1

     id_model                 model  Manufacturer_id
0           1                  M20J                1
1           2  MARQUART M 5 CHARGER                2
2           3        MONTANA COYOTE                2
3           4        ERJ 170-200 LR                3
4           5            KODIAK 100                4
5           6        ERJ 170-200 LR                5
6           7        MBB-BK 117 C-2                6
7           8                  101C                7
8           9           EVANS VP II                8
9          10            VANS RV-8A                9
10         11               TBM 700               10
11         12                 DA 42               11
12         13          HAWKER 800XP               12
13         14              A350-941               13
14         15            A321-271NX               13
15         16            A321-253NX               13
16         17              A320-212               13
17         18             A321-271N               13
18         19              A320-232               13
19         20              A330-243               13
20         21              A330-223               13
21         22              A330-323               13
22         23              A330-941               13
23         24              A319-115               13
24         25              A321-231               13
25         26             A320-251N               13
26         27             A320-271N               13
27         28              A319-132               13
28         29              A321-211               13
29         30              A319-131               13
..        ...                   ...              ...
152       153                  RV6A               34
153       154              A320-214               35
154       155              A319-114               35
155       156              A319-112               35
156       157              A320-212               35
157       158              A320-211               35
158       159              A330-223               35
159       160              A330-323               35
160       161              A321-211               35
161       162              A319-131               35
162       163              A321-231               35
163       164              A319-132               35
164       165              A320-232               35
165       166             DOMINATOR               36
166       167                  SR22               37
167       168                 SR22T               37
168       169                 MD-88               38
169       170                 MD 83               38
170       171           GVI(G650ER)               39
171       172           BD-500-1A10               40
172       173                AT-602               41
173       174               AT-502B               41
174       175               AT-802A               41
175       176           BD-500-1A10               42
176       177        DC-9-83(MD-83)               43
177       178              MD-90-30               43
178       179        DC-9-82(MD-82)               43
179       180                 PC-12               44
180       181        FISHER CLASSIC               45
181       182                 DA 40               46

[182 rows x 3 columns]