In [1]:
import pymysql
import getpass
import pandas as pd

In [2]:
p = getpass.getpass()

········

In [3]:
conn = pymysql.connect(host='localhost',
                       user='root', 
                       passwd=p, 
                       database='flights')

cur = conn.cursor()

In [4]:
query = '''
SELECT *
FROM cities;
'''

pd.read_sql_query(query, conn)

     id_city                            name States_abrev
0          1                         ATLANTA           GA
1          2                     SPRINGFIELD           MO
2          3              SARASOTA/BRADENTON           FL
3          4                         DETROIT           MI
4          5                        NEW YORK           NY
5          6                     CHATTANOOGA           TN
6          7                         NORFOLK           VA
7          8                         ROANOKE           VA
8          9                           TAMPA           FL
9         10                  RALEIGH/DURHAM           NC
10        11                          BOSTON           MA
11        12                      SOUTH BEND           IN
12        13                       ASHEVILLE           NC
13        14  BRISTOL/JOHNSON CITY/KINGSPORT           TN
14        15                      DES MOINES           IA
15        16                     MINNEAPOLIS           MN
16        17                      BIRMINGHAM           AL
17        18                         BUFFALO           NY
18        19                      BURLINGTON           VT
19        20                     GAINESVILLE           FL
20        21                    GRAND RAPIDS           MI
21        22                    MYRTLE BEACH           SC
22        23                    JACKSONVILLE           FL
23        24                         CHICAGO           IL
24        25                      WILMINGTON           NC
25        26       NEWPORT NEWS/WILLIAMSBURG           VA
26        27                    INDIANAPOLIS           IN
27        28                     BATON ROUGE           LA
28        29                      MONTGOMERY           AL
29        30           GREENSBORO/HIGH POINT           NC
..       ...                             ...          ...
381      382                        LAGRANGE           IN
382      383                        LEESBURG           VA
383      384                LONG ISLAND CITY           NY
384      385                         MILFORD           NE
385      386                          MILTON           FL
386      387                         MIRAMAR           FL
387      388                    MOUNT SHASTA           CA
388      389                    MOUNT VERNON           WA
389      390                        NAPOLEON           ND
390      391                          NEWARK           DE
391      392                         NEWPORT           AR
392      393                 NORTH KINGSTOWN           RI
393      394                 NORTH SALT LAKE           UT
394      395                         NORWALK           CT
395      396                     OLD CHATHAM           NY
396      397                      PINE BLUFF           AR
397      398                       PORT EWEN           NY
398      399                        ROCKAWAY           NJ
399      400                      ROMEOVILLE           IL
400      401                    SAINT GEORGE           UT
401      402                      SCOTTSDALE           AZ
402      403                          SEATAC           WA
403      404                     SPRINGFIELD           OH
404      405                      SYKESVILLE           MD
405      406                   THOUSAND OAKS           CA
406      407                        VANDALIA           OH
407      408                          WAUPUN           WI
408      409                      WILMINGTON           DE
409      410                      WILMINGTON           OH
410      411                       KNOXVILLE           TN

[411 rows x 3 columns]

In [5]:
query = '''
select * from states;
'''

cur.execute(query)

for row in cur.fetchall():
    print(row)

('AK', 'ALASKA')
('AL', 'ALABAMA')
('AR', 'ARKANSAS')
('AZ', 'ARIZONA')
('CA', 'CALIFORNIA')
('CO', 'COLORADO')
('CT', 'CONNECTICUT')
('DC', 'DISTRICT OF COLUMBIA')
('DE', 'DELAWARE')
('FL', 'FLORIDA')
('GA', 'GEORGIA')
('HI', 'HAWAII')
('IA', 'IOWA')
('ID', 'IDAHO')
('IL', 'ILLINOIS')
('IN', 'INDIANA')
('KS', 'KANSAS')
('KY', 'KENTUCKY')
('LA', 'LOUISIANA')
('MA', 'MASSACHUSETTS')
('MD', 'MARYLAND')
('ME', 'MAINE')
('MI', 'MICHIGAN')
('MN', 'MINNESOTA')
('MO', 'MISSOURI')
('MS', 'MISSISSIPPI')
('MT', 'MONTANA')
('NC', 'NORTH CAROLINA')
('ND', 'NORTH DAKOTA')
('NE', 'NEBRASKA')
('NH', 'NEW HAMPSHIRE')
('NJ', 'NEW JERSEY')
('NM', 'NEW MEXICO')
('NV', 'NEVADA')
('NY', 'NEW YORK')
('OH', 'OHIO')
('OK', 'OKLAHOMA')
('OR', 'OREGON')
('PA', 'PENNSYLVANIA')
('PR', 'PUERTO RICO')
('RI', 'RHODE ISLAND')
('SC', 'SOUTH CAROLINA')
('SD', 'SOUTH DAKOTA')
('TN', 'TENNESSEE')
('TT', 'U.S. PACIFIC TRUST TERRITORIES AND POSSESSIONS')
('TX', 'TEXAS')
('UT', 'UTAH')
('VA', 'VIRGINIA')
('VI', 'U.S. VIRGIN ISLANDS')
('VT', 'VERMONT')
('WA', 'WASHINGTON')
('WI', 'WISCONSIN')
('WV', 'WEST VIRGINIA')
('WY', 'WYOMING')